/* :host{
    /* background: lightblue; */


.card{
    border: none;
}

.card-body{
    background: lightgray;
    border: 2px solid rgb(30, 30, 30);
    margin: 20px 5px 0px 0px;
    border-radius: 10px;

}